PROJECT_NAME=MTG Deck Builder
API_V1_STR=/api/v1

# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/deck_builder

# Security
SECRET_KEY=changethis
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# External APIs
SCRYFALL_BASE_URL=https://api.scryfall.com

# AI / Agent layer
CHROMA_HOST=localhost
CHROMA_PORT=8001
HF_TOKEN=
GOOGLE_API_KEY=
GOOGLE_PROJECT_ID=
GOOGLE_LOCATION=us-central1
AI_MODEL_NAME=gemini-2.5-flash
